.movie_movieInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.movie_imagesmall {
    height: 288px;
    width: 199px;
}

.movie_title {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    width:199px
}