
.movieList_release{
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.movieList_today {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}